.logo-head {
  margin-top: 10px;
  margin-left: 10%;
}

.TYGiy {
}

.TYimage {
  display: block;
  margin: auto;
}
.TY{
margin-top: 10px;
  text-align: center;
  font-family: arial;
  font-size: 3em;
  color: rgb(0,34,19);
}
